@import "../../../variables.global"

.sortBlock
  background-color: $white
  padding: 11px 20px
  border-radius: 7px
  margin: 0 0 20px

.menuHeader
  display: inline-block

.menuHeader *
  color: $orange

.menuHeader svg
  fill: $orange
  margin: -3px 1px

.menuIconColor
  fill: $orange

.menuIconColor *
  fill: $orange

.menuItemsList
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
  border-radius: 3px
  background-color: $white
  color: $orange

@media all and (min-width: 1024px)
  .sortBlock
    background-color: transparent
    padding: 20px
    margin: 0
    border-radius: 0
